Vagrant.configure("2") do |config|

    config.vm.box = "{{ vagrant.vg_name }}"
    config.vm.box_url = "{{ vagrant.box_url }}"
    config.vm.hostname = "{{ vagrant.net_name }}"
    config.vm.network "private_network", ip: "{{ vagrant.ip }}"
    config.vm.disk :disk, size: "{{ vagrant.disksize }}", primary: true

    config.vm.provider "virtualbox" do |vb|
        vb.memory = {{ vagrant.memory }}
        vb.cpus = {{ vagrant.cpu }}
        vb.name = "{{ vagrant.vb_name }}"
    end
end